<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>828865833442-6lfjhcpi8ucjuhs6qtags88c6kc1rl5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828865833442-6lfjhcpi8ucjuhs6qtags88c6kc1rl5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAfdDYtJr_vt_GO_pVUdRn7N-FFiUoI7LY</string>
	<key>GCM_SENDER_ID</key>
	<string>828865833442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leojia.message-app</string>
	<key>PROJECT_ID</key>
	<string>firstfb-292bc</string>
	<key>STORAGE_BUCKET</key>
	<string>firstfb-292bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828865833442:ios:918f3731f55b2025</string>
	<key>DATABASE_URL</key>
	<string>https://firstfb-292bc.firebaseio.com</string>
</dict>
</plist>